/**
 * Main Styles
 */
 @import "./vars";

 $box-count: 7;
 $box-size: (100/$box-count) + vw;

 $box-colors: $red $orange $yellow $green $blue $indigo $violet;
 @function box-colors($index) {
 	@if $index > length($box-colors) {
 		@error('box-colors(), Index of out range: `#{$index}`');
 	}
 	@return  nth($box-colors, $index); 
 }

 body {
 	color: $text;
 	font: {
 		family: sans-serif;
 		size: 1.2em;
 	}
 	margin: 0;
 }

 h1 {
 	color: $header;
 }

 div.boxes {
 	display: flex;
 	flex-direction: row;
 	
 	@media(max-width: breakpoints(small)) {
 		flex-direction: column;
 	}
 }

 div.box {
 	width: $box-size;
 	height: $box-size;
 	
 	&:after {
 		visibility: hidden;
 		content: attr(data-color);
 		display: block;
 		text-align: center;
 		padding: 5px 10px;
 	}
 	
 	&:hover {
 		&:after {
 			visibility: visible;
 		}
 	}
 	
 	@media(max-width: breakpoints(small)) {
 		width: 100vw;
 		height: 100vw;
 	}
 }

 @for $i from 1 through $box-count {
 	div.box-#{$i} {
 		background-color: box-colors($i);
 		&:after {
 			background: {
 				color: darken(box-colors($i), 10%);
 			}
 		}
 	}
 }