/**
 * Variables
 */
// Colors
$red: #FF0000;
$orange: #FF7F00;
$yellow: #FFFF00;
$green: #00FF00;
$blue: #0000FF;
$indigo: #4B0082;
$violet: #9400D3;
$header: #666666;
$text: #E6E6E6;

// Breakpoints
$breakpoints: (
	small: 800px,
	medium: 1200px,
);
@function breakpoints($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@return map-get($breakpoints, $breakpoint);
	}
	@error "breakpoints(), Invalid key: `#{$breakpoint}`";
}